In [2]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('country_club.db')
cursor = conn.cursor()

# Create tables and import data
# For simplicity, assuming CSV format is used for export
import pandas as pd

# Load CSV data into Pandas DataFrames
bookings = pd.read_csv('bookings.csv')
members = pd.read_csv('members.csv')
facilities = pd.read_csv('facilities.csv')

# Write data to SQLite database
bookings.to_sql('Bookings', conn, if_exists='replace', index=False)
members.to_sql('Members', conn, if_exists='replace', index=False)
facilities.to_sql('Facilities', conn, if_exists='replace', index=False)

8

In [3]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('country_club.db')

# Create a cursor object
cursor = conn.cursor()

In [ ]:
import pandas as pd

# Q10: Produce a list of facilities with a total revenue less than 1000.

query = """
SELECT f.name AS facility,
       SUM(CASE 
               WHEN b.memid = 0 THEN b.slots * f.guestcost 
               ELSE b.slots * f.membercost 
           END) AS total_revenue
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
GROUP BY f.name
HAVING total_revenue < 1000
ORDER BY total_revenue;
"""

# Execute the query and load the results into a DataFrame
result = pd.read_sql_query(query, conn)

# Display the results
print(result)

In [ ]:
# Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order
query = """
SELECT m1.surname AS member_surname,
       m1.firstname AS member_firstname,
       m2.surname AS recommender_surname,
       m2.firstname AS recommender_firstname
FROM Members m1
LEFT JOIN Members m2 ON m1.recommendedby = m2.memid
ORDER BY m1.surname, m1.firstname;
"""

# Execute the query and load the results into a DataFrame
result = pd.read_sql_query(query, conn)

# Display the results
print(result)

In [ ]:
# Q12: Find the facilities with their usage by member, but not guests
query = """
SELECT f.name AS facility,
       SUM(b.slots) AS member_usage
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
WHERE b.memid != 0  -- Exclude guests
GROUP BY f.name;
"""

# Execute the query and load the results into a DataFrame
result = pd.read_sql_query(query, conn)

# Display the results
print(result)

In [ ]:
# Q13: Find the facilities usage by month, but not guests 
query = """
SELECT f.name AS facility,
       STRFTIME('%Y-%m', b.starttime) AS month,
       SUM(b.slots) AS member_usage
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
WHERE b.memid != 0  -- Exclude guests
GROUP BY f.name, month
ORDER BY facility, month;
"""

# Execute the query and load the results into a DataFrame
result = pd.read_sql_query(query, conn)

# Display the results
print(result)